In [1]:
import numpy as np
import pandas as pd
import scipy
from datetime import datetime
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
 df = pd.DataFrame({'': ['You','Aunt Alice', 'Mom', 'Fiancee','Dave', 'Brian'],
                   'You':[0,1,1,1,1,1],
                   'Aunt Alice':[1,0,0,1,0,0],
                   'Mom':[1,0,0,0,0,0],
                   'Fiancee':[1,1,0,0,1,1],
                   'Dave':[1,0,0,1,0,0],
                   'Brian':[1,0,0,1,0,0]})

In [10]:
df.set_index('')

Empty DataFrame
Columns: []
Index: [You, Aunt Alice, Mom, Fiancee, Dave, Brian]

In [13]:
df

               Aunt Alice  Brian  Dave  Fiancee  Mom  You
0         You           1      1     1        1    1    0
1  Aunt Alice           0      0     0        1    0    1
2         Mom           0      0     0        0    0    1
3     Fiancee           1      1     1        0    0    1
4        Dave           0      0     0        1    0    1
5       Brian           0      0     0        1    0    1